<div class="container mt-3">
  <h1>Restaurant Lists</h1>
  <div class="cards">
    <% @restaurants.each do |restaurant| %>
      <div class="card-product my-2">
        <%= image_tag "http://source.unsplash.com/featured/?food+#{restaurant.category}>&#{rand(1000)}" %>
        <div class="card-product-infos">
          <h2><%= restaurant.name %></h2>
          <h3><%= restaurant.category.capitalize %></h3>
          <p><%= restaurant.address %></p>
          <p><%= link_to "See details", restaurant_path(restaurant), class: "btn btn-primary" %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>
