<div class="container">
  <div class="card-trip my-2">
    <%= image_tag "http://source.unsplash.com/featured/?food+#{@restaurant.category}>&#{rand(1000)}"%>
    <div class="card-product-infos">
      <h2><%= @restaurant.name %></h2>
      <p><%= @restaurant.category.capitalize %></p>
      <p><%= @restaurant.address %></p>
      <p><%= @restaurant.phone_number %></p>
    </div>
  </div>
  <p><%= link_to 'Back to list', restaurants_path, class: "btn btn-primary" %>
  <%= link_to 'Leave a review', new_restaurant_review_path(@restaurant), class: "btn btn-primary" %></p>
  <p><strong>Reviews</strong></p>
    <% @restaurant.reviews.each do |review| %>
      <p><%= review.content %>
      <%= review.rating %></p>
      <% end %>
    <br>
</div>
